.Parul{
    font-weight: bold;
    color: black;
    font-size: large;
    padding-top: 10px;
    font-family:'Arial Narrow', Arial, sans-serif
  }
  
  .University{
    color: red;
    font-size: large;
    font-family: 'Arial Narrow', Arial, sans-serif
  }